* {
    font-family: 'Uchen', serif;
}

header {
    background-image: url(img/banner.png);
    background-repeat: no-repeat;

}

.banner {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
}

body {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 20px;
    color: white;
    
}

.banner {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

header {

    text-align: center;
    font-weight: 700;
    font-size: 25px;

}

#sobremi {
    color: seagreen;

}

.fab    {
    color:seagreen
}
